.slide-2__spermatozoon {
  animation-duration: 3s;
  animation-delay: 1s;
  animation-fill-mode: both;
  background-image: url('../../../images/spermatozoons/spermatozoons-4.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  opacity: 0;
}