.slide-2__message {
  direction: ltr;
  font-family: 'Gilroy';
  font-size: 20px;
  font-weight: 400;
  height: 444px;
  line-height: 1.5;
  padding: 30px 40px 0;
  width: 777px;
  z-index: 2;
  position: relative;
}