.slide-2 {
  background-image: url('../../images/slide-bg_2.png');
  padding: 132px 130px 0px 67px;
  position: relative;
}

.slide-2:after {
  content: '';
  background-color: #fff;
  border-radius: 40px;
  direction: ltr;
  height: 444px;
  width: 774px;
  top: 240px;
  left: 119px;
  z-index: 1;
  position: absolute;
  box-shadow: 20px 20px 94px -45px #000000,
              -20px -20px 94px -45px #000000;
}
