.header__link_home {
  display: block;
  background-image: url('../../../images/header__link_home.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 26px;
  height: 26px;
  margin-right: 22px;
}