.bubble {
  animation-name: triangle;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
  position: absolute;
}