@keyframes line {
  from {
    transform: translate(-20px, -20px);
  }
  to {
    transform: translate(40px, 40px);
  }
}
@keyframes triangle {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(40px, -30px) scale(1.5);
  }
  66% {
    transform: translate(40px, 20px) scale(1);
  }
  100% {
    transform: translate(0px, 0px) scale(0.7);
  }
  66% {
    transform: translate(40px, 20px) scale(1);
  }
  33% {
    transform: translate(40px, -30px) scale(1.1);
  }
  0% {
    transform: translate(0px, 0px) scale(1);
  }
}

@keyframes circle {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  33% {
    transform: translate(40px, -30px) rotate(51deg);
  }
  66% {
    transform: translate(40px, 20px) rotate(102deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(153deg);
  }
  66% {
    transform: translate(40px, 20px) rotate(204deg);
  }
  33% {
    transform: translate(40px, -30px) rotate(255deg);
  }
  0% {
    transform: translate(0px, 0px)rotate(360deg);
  }
}
@keyframes approximation {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  50% {
    transform: translate(-30px, 10px) scale(1.2);
  }
  100% {
    transform: translate(-10px, 5px) scale(1.5);
  }
  50% {
    transform: translate(-30px, 10px) scale(1.2);
  }
  0% {
    transform: translate(0px, 0px) scale(1);
  }
}
@keyframes approximation-second {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(30px, 20px);
  }
  100% {
    transform: translate(-10px, 5px) scale(1.5);
  }
  50% {
    transform: translate(-30px, 10px) scale(1.2);
  }
  0% {
    transform: translate(0px, 0px) scale(1);
  }
}